
body{
	background:#2c4762 url('/assets/img/background.png') top repeat-x;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-family: "Segoe UI";
    font-style:normal;
    font-weight: 400;
}
.pagination-centered{
	margin-top: 10%;
}
.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="anteo"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border:none;
}
.form-signin input[type="msv"] {
  margin-bottom: 0px;
  border-radius: 0;
  border:none;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border:none;
}
.form-signin input[type="submit"] {
}
.btn-primary{
	background-color:#69b4d1;
	border:none;
}
.btn-primary:hover {
   background-color: #3e7e9e;
   border:none;
}

#hint{
	color: #FFF;
}
.backgroundwaitingbar{
	margin-top:30px;
    width: 250px;
    height: 2px;
    background:#444343;
    margin-left:auto;
    margin-right:auto;
}
.backgroundwaitingbar > .waitingbar {
    width: 45px;
    height: 2px;
    background: #fff !important;
    position: relative;
    -webkit-animation: myfirst 7s; /* Chrome, Safari, Opera */
    animation: myfirst 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {left:0px; top:0px;}
    50% {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {left:0px; top:0px;}
    50% {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}
#support{
	color: #fff;
	text-shadow: 2px 2px #412028;
}
#support > p > a{
	color: #fff;
	text-decoration: none;
}