.container{
	clear:both;
}
body{
    font-family: "Segoe UI";
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    color: #FFF;
    width:100%;
}

.sections{
	min-width: 1000px;
	width:100%;
    padding: 50px 200px 40px 40px;
}
#transcript{
	background: none repeat scroll 0% 0% #823934;
}
#GPA{
	background: none repeat scroll 0% 0% #797c48;
}
#GPA .markWrap{ 
	position:relative;
	width: 50%;
	float: left;
	top:60px;
	padding-right:10px;
	padding-left:10px;

}
#mark4{
	text-align:right;
	font-size:15em;
	top:-27px !important;
	
}

p.markNote{
	font-size:1em;
	margin:0px;
}

p.markContent{
	font-size:3em;
	margin:0px;
}
#changemark{
	background: none repeat scroll 0% 0% #b6a758;
}
#scenario{
	background: none repeat scroll 0% 0% #866844;
}
#LichHoc{
	background: none repeat scroll 0% 0% #412028;
}
#schedule{
	background: none repeat scroll 0% 0% #412028;
}
#ExamSchedule{
	background: none repeat scroll 0% 0% #597781;
	padding-bottom:80px;
}

.ChangedCourse{ 
	position:relative;
	width: 45%;
	float: left;
	padding-left:10px;
	padding-bottom:20px;
}

.ChangedMarkInput{
	width:60px;
	right:0px;
	float:left;
	position:absolute;
}
.LabelChangedCourse{
	text-align:right;
	padding-right:80px;
	padding-top:5px;
	clear: both;
	float:right;
}
.ChangedMarkGroupBotton1{
	position:relative;
	width:200px;
	margin-top:20px;
	margin-left: 40%;
    margin-right: 60%;
}
.ChangedMarkGroupBotton1 > input{
	width:130px;
}
#restore{
	top:-54px;
	position:relative;
	width:130px;
	margin-top:20px;
	margin-left: 60%;
    margin-right: 40%;
}


#scenario p{
	font-weight:bold;
	font-size:22px;
	position:relative;
}
#RemainCredit{
	position:relative;
	top:15px;
	font-size:14px !important; 
}
.save-image{
	float:right;
	top:0px;
}
.backgroundwaitingbar{
    width: 300px;
    height: 2px;
    background:#444343;
    margin-left:auto;
    margin-right:auto;
}
.backgroundwaitingbar > .waitingbar {
    width: 45px;
    height: 2px;
    background: #fff !important;
    position: relative;
    -webkit-animation: myfirst 7s; /* Chrome, Safari, Opera */
    animation: myfirst 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {left:0px; top:0px;}
    50% {left:255px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {left:0px; top:0px;}
    50% {left:255px; top:0px;}
    100% {left:0px; top:0px;}
}
.scenarioCol{
	float:left;
	position:relative;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
}
.scenarioCol1{
	width:7%;
	top:-10px;
}
.scenarioCol2{
	width:17%;
}
.scenarioCol3{
	width:17%;
}
.scenarioCol4{
	width:3%;
	padding-left:0px;
	padding-right:0px;
}
.scenarioCol5{
	width:56%;
}
.scenarioInput{
	width:60px;
	right:0px;
}
.scenarioTitle{
	position:relative;
	top:15px;
	font-size:14px !important; 
}
#calendar{
	background: #597781;
}
 #calendar12{
	background: #597781;
}
.iconDownload{
	font-size:3em;
	top:-60px;
	cursor: pointer;
}
#downloadMenu{
	position:fixed;
	bottom: 55px;
	right:135px;
	background: #555;
	color: #fff;
	font-size:14px;
	visibility: hidden;
}
#downloadMenu > ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
	
}

#downloadMenu > ul > li{
	padding: 10px 10px 10px 10px;
}
#downloadMenu > ul > li:hover{
	background: #666;
}
.iconDownload:hover #downloadMenu{
	visibility: visible;
}
.tdhover:hover{
	background:#35121B;
}
#scheduleTable a{
   pointer-events: none;
   cursor: default;
}
