<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Thống kê điểm học phần</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/login.css" rel="stylesheet">

	<!-- Custom fonts -->
	<link href="assets/css/font.css" rel="stylesheet">
	
	<!-- JQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--  <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> -->
    <!--  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
    <![endif]-->
  </head>

 <body>
 <div class="container pagination-centered">
 <form class="field" method="post" action="/field">
 	<select name="chosenfield" class="form-control">
    <option value="Kinh doanh bất động sản">Kinh doanh bất động sản</option>
	<option value="Kinh tế Bất động sản và Địa chính">Kinh tế Bất động sản và Địa chính</option>
	<option value="Hệ thống thông tin quản lý">Hệ thống thông tin quản lý</option>
	<option value="Tin học kinh tế">Tin học kinh tế</option>
	<option value="Công nghệ thông tin">Công nghệ thông tin</option>
	<option value="Hải quan">Hải quan</option>
	<option value="Kinh tế - Quản lý tài nguyên và môi trường">Kinh tế - Quản lý tài nguyên và môi trường</option>
	<option value="Kinh tế học">Kinh tế học</option>
	<option value="Kinh tế nông nghiệp và phát triển nông thôn">Kinh tế nông nghiệp và phát triển nông thôn</option>
	<option value="Kinh tế phát triển">Kinh tế phát triển</option>
	<option value="Kinh tế quốc tế">Kinh tế quốc tế</option>
	<option value="Kinh tế và Quản lý nguồn nhân lực">Kinh tế và Quản lý nguồn nhân lực</option>
	<option value="Kinh tế và quản lý đô thị">Kinh tế và quản lý đô thị</option>
	<option value="Kinh tế đầu tư">Kinh tế đầu tư</option>
	<option value="Kế hoạch">Kế hoạch</option>
	<option value="Quản lý công">Quản lý công</option>
	<option value="Quản lý kinh tế">Quản lý kinh tế</option>
	<option value="Kinh tế tài nguyên">Kinh tế tài nguyên</option>
	<option value="Kiểm toán">Kiểm toán</option>
	<option value="Kế toán tổng hợp">Kế toán tổng hợp</option>
	<option value="Luật kinh doanh">Luật kinh doanh</option>
	<option value="Luật kinh doanh quốc tế">Luật kinh doanh quốc tế</option>
	<option value="Quản trị Marketing">Quản trị Marketing</option>
	<option value="Quản trị bán hàng">Quản trị bán hàng</option>
	<option value="Truyền thông Marketing">Truyền thông Marketing</option>
	<option value="Tiếng Anh thương mại">Tiếng Anh thương mại</option>
	<option value="Quản trị Du lịch">Quản trị Du lịch</option>
	<option value="Quản trị Lữ hành">Quản trị Lữ hành</option>
	<option value="Quản trị khách sạn POHE">Quản trị khách sạn POHE</option>
	<option value="Quản trị chất lượng">Quản trị chất lượng</option>
	<option value="Quản trị doanh nghiệp">Quản trị doanh nghiệp</option>
	<option value="Quản trị kinh doanh Tổng hợp">Quản trị kinh doanh Tổng hợp</option>
	<option value="Quản trị kinh doanh quốc tế">Quản trị kinh doanh quốc tế</option>
	<option value="Thương mại quốc tế">Thương mại quốc tế</option>
	<option value="Quản trị kinh doanh thương mại">Quản trị kinh doanh thương mại</option>
	<option value="Quản trị nhân lực">Quản trị nhân lực</option>
	<option value="Thống kê kinh doanh">Thống kê kinh doanh</option>
	<option value="Thống kê kinh tế xã hội">Thống kê kinh tế xã hội</option>
	<option value="Toán kinh tế">Toán kinh tế</option>
	<option value="Toán tài chính">Toán tài chính</option>
	<option value="Bảo hiểm">Bảo hiểm</option>
	<option value="Ngân hàng">Ngân hàng</option>
	<option value="Thẩm định giá">Thẩm định giá</option>
	<option value="Thị trường chứng khoán">Thị trường chứng khoán</option>
	<option value="Tài chính công">Tài chính công</option>
	<option value="Tài chính doanh nghiệp">Tài chính doanh nghiệp</option>
	<option value="Tài chính doanh nghiệp (Pháp)">Tài chính doanh nghiệp (Pháp)</option>
	<option value="Tài chính quốc tế">Tài chính quốc tế</option>

	</select>
	<input class="btn btn-lg btn-primary btn-block" style="margin-top:30px;" type="submit" id="fieldchose" value="Chọn ngành"/>
	
</form>
</div>	
</body> 
 
</html>  
