<!DOCTYPE html>
<html>
<head>
     <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Thống kê điểm từ https://qldt2.neu.edu.vn - Quản lý đào tạo - Trường Đại học Kinh tế Quốc dân. Tính điểm tổng kết, điểm GPA, thời khóa biểu, lịch thi và các chức năng tính điểm khác">
     <meta name="keywords" content="qldt, qldt2, NEU, Kinh tế Quốc dân, ktqd, quản lý đào tạo, cổng thông tin">
    <meta name="author" content="AnTeo">
    <meta name="application-name" content="Thống kê điểm học phần - Kinh tế Quốc dân" />
    
    <!-- for Facebook -->          
<meta property="og:title" content="Chỉnh sửa bản Word - Thống kê điểm học phần" />
<meta property="og:type" content="webapp" />
<meta property="og:image" content="https://farm8.staticflickr.com/7508/15106131263_9fba68dc6d_o.png" />
<meta property="og:description" content="Thống kê điểm từ https://qldt2.neu.edu.vn - Quản lý đào tạo - Trường Đại học Kinh tế Quốc dân. Tính điểm tổng kết, điểm GPA, thời khóa biểu, lịch thi và các chức năng tính điểm khác" />
    <link rel="icon" href="/favicon.ico">
    <title>Chỉnh sửa bản Word - Thống kê điểm học phần</title>
    <link href="/assets/css/SuaBanWord.css" rel="stylesheet" type="text/css">
    <style type="text/css">
<!--
        @page { margin-left: 3cm; margin-right: 2cm; margin-top: 2.8cm; margin-bottom: 1.27cm }
        P { text-indent: 1.25cm; margin-bottom: 0.21cm; direction: ltr; color: #000000; line-height: 100%; text-align: justify; widows: 0; orphans: 0 }
        P.western { font-family: "Liberation Serif", serif; font-size: 12pt }
        P.cjk { font-family: "Droid Sans Fallback"; font-size: 12pt; so-language: zh-CN }
        P.ctl { font-family: "FreeSans"; font-size: 12pt; so-language: hi-IN }
        H1 { text-indent: 1.25cm; margin-top: 0.64cm; margin-bottom: 0.28cm; border-top: none; border-bottom: 1px solid #595959; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm; direction: ltr; font-variant: small-caps; color: #000000; line-height: 100%; text-align: left; page-break-inside: avoid; widows: 0; orphans: 0; page-break-before: always }
        H1.western { font-family: "Times New Roman", serif; font-size: 12pt }
        H1.cjk { font-family: "Droid Sans Fallback"; font-size: 12pt; so-language: zh-CN }
        H1.ctl { font-family: ; font-size: 18pt; so-language: hi-IN }
        H2 { text-indent: 1.25cm; margin-top: 0.64cm; margin-bottom: 0cm; direction: ltr; font-variant: small-caps; color: #000000; line-height: 100%; text-align: left; page-break-inside: avoid; widows: 0; orphans: 0 }
        H2.western { font-family: "Times New Roman", serif; font-size: 12pt }
        H2.cjk { font-family: "Droid Sans Fallback"; font-size: 12pt; so-language: zh-CN }
        H2.ctl { font-family: ; font-size: 14pt; so-language: hi-IN }
        A:link { color: #0000ff; so-language: zxx }
    -->
    </style>
</head>

<body dir="ltr" lang="en-US" link="#0000FF" text="#000000">
	<div class="colLeft"></div>
    <div class="content">
        <p class="western h1title" lang="en-GB" style=
        "text-indent: 0cm; margin-top: 0.64cm; margin-bottom: 0cm; border-top: none; border-bottom: 1px solid #595959; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm; page-break-inside: avoid; page-break-before: always; page-break-after: avoid">
        <span style=
        "font-variant: small-caps"><span lang="en-US" style=
        "font-weight: bold">Bước 1: Định dạng</span></span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Trong bước này có hai trường hợp có thể xảy ra, trường hợp 1 gõ mới một văn bản, trường hợp 2 chỉnh sửa lại văn bản sẵn có.</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">
        <span lang="en-US">Trường hợp 1:</span></h2>

        <p class="western" lang="en-GB" style=
        "margin-bottom: 0cm; page-break-after: avoid"><span lang="en-US">Chúng ta không cần quan tâm tới việc định dạng văn bản khi gõ (hoặc copy) tất cả chỉ cần mỗi khi gõ một đề mục thì nhớ chọn Heading cho tiêu đề đó và đảm bảo cấp độ các mục là đúng và các đoạn văn bản thường đều được định
        dạng là Normal.</span></p>
        <br>
        <a href="https://www.flickr.com/photos/127460723@N07/15539620649" title="1 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7468/15539620649_7f0dbe57f7_o.png" width="551" height="117" alt="1"></a>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><b>Tip 1:</b> Để kiểm soát các đề mục vào thẻ View, trong trường Show, đánh dấu vào Navigation Pane</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15105566684" title="2 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3938/15105566684_b185356528_o.png" width="361" height="696" alt="2"></a>

        <br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Trong thanh này, các đề mục sẽ được hiện chi tiết, có thể kiểm soát nội dung đề mục dễ dàng. Khi click chuột trái vào mỗi mục xuất hiện menu, từ trên xuống dưới là các chức năng sau</p>

        <ul>
            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Promote: Chuyển Heading lên một bậc. VD: “Khái niện về JIT” đang là Heading 3, nó sẽ chuyển về Heading 2, tương đương với “Khái quát về mô hình JIT” ta có đề mục:</span></p>
            </li>
        </ul>

        <div style="margin-left: 6em">
            <p lang="en-GB" style=     "text-indent: 0cm; margin-bottom: 0cm"><span lang=     "en-US">1.1 Khái quát về mô hình JIT</span></p>
            <p lang="en-GB" style=     "text-indent: 0cm; margin-bottom: 0cm"><span lang=     "en-US">1.2 Khái niện về JIT</span></p> <p lang="en-GB" style=             "text-indent: 0cm; margin-bottom: 0cm; margin-left: 3em"><span lang=             "en-US">1.2.1 Phân loại JIT</span></p>
        </div>

        <ul>
            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Demote: Ngược lại Promot, đưa mục được chọn và các mục con lùi về 1 heading. Như vậy giả sử sau khi Promote “Khái niện về JIT”, để đưa về đề mục như cũ ta cần làm hai bước là Demote “Khái niện về JIT” và Promote “Phân loại JIT”</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">New Heading Before/After: Thêm một heading cùng cấp ở trên vị trí hiện tại/vị trí sau.</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">New Subheadding: Thêm một đề mục con vào đề mục được chọn</span></p>
            </li>
        </ul>
		<br>			
        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang=
        "en-US"><b>Tip 2:</b> Copy and Paste, trong khi làm đề án hay bài tập :v hẳn không thiếu được mục này. Phương pháp CnP an toàn nhất là sau khi copy, chỉ paste phần nội dung, không paste định dạng. Có thể làm như sau, click chuột phải chọn:</span></p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15727070532" title="3 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7521/15727070532_09c9ab4e7e_o.png" width="157" height="314" alt="3"></a>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Biểu tượng trên là Keep Text Only, khi đó nó sẽ chỉ dán phần nội dung và định dạng sẽ là định dạng hiện tại của văn bản. Chúng mày sẽ không cần lo đoạn văn bản được dán có kiểu chữ khác, cỡ chữ khác hay các định dạng sẵn :D
        Chống chỉ định cho việc copy bảng biểu nhé :D dùng cách paste này M$ Word sẽ không giữ lại bảng biểu và hình ảnh, các bảng đều bị chuyển nội dung bên trong thành chữ nên mày cần xóa đi vào copy riêng nhé.</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Trường hợp 2:</h2>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Với một văn bản sãn, mày bôi đen toàn bộ văn bản. Trong tab HOME, trường Styles, bên tay phải mày ấn</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15539620649" title="1 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7468/15539620649_7f0dbe57f7_o.png" width="551" height="117" alt="1"></a>

        <br>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang=
        "en-US">Chọn Clear Formating</span></p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15540337117" title="4 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3955/15540337117_1fe69357e4_o.png" width="1360" height="768" alt="4"></a>

        <br>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Sau đó đặt các đề mục thành Heading và nội dung thành Normal như bước 1.</p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Tip: Bằng cách kéo Title Bar của các cửa sổ sang hai bên màn hình, Windoz sẽ tự căn hai cửa sổ thành một nửa màn hình như trên, rất dễ để đối chiếu, chọn Heading cho đúng :D</p>
        <br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/JayM_Lk449c?rel=0" frameborder="0" allowfullscreen></iframe>
        <br>

        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm">Bước 2: Định dạng trang</h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Định dạng trang nằm trong thẻ PAGE LAYOUT, để định dạng một loạt, mày nên chọn cửa sổ Page Setup bằng cách click vào nút đánh dấu hồng</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15723599131" title="5 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3938/15723599131_0d99f7192f_o.png" width="817" height="736" alt="5"></a>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Căn lề: Mình thường đặt như sau Top: 3 cm, Bot: 2 cm, Left: 3 cm, Right: 2cm. Văn bản sẽ có phần footer và header. Bên trái để đóng gáy nên cần để lớn. Chuyển quan thẻ Paper, để in vừa vặn và không bị mất, trong phần Paper size nhất thiết phải để A4. Khi đi in, có thể cửa
        hàng in người ta sẽ không chỉnh lại (đặc biệt khi in bằng PDF) mà để nguyên khổ Letter và co lại vừa khổ A4, vì thể phần lề sẽ không còn chuẩn xác nữa </p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Tip 1: Trong phần đặt lề, một số máy dùng đơn vị đo là inch, đừng lo, cứ gõ đơn vị đi kèm “3cm” M$ Word sẽ tự chuyển đổi :D</p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Tip 2: Đối với các văn bản mà muốn in hai mặt. Tại các cửa hàng photo, chỉ cần nói họ in hai mặt là họ có thể in luôn mà không cần in hai lần như ngày xưa nữa. Nhưng để in hai mặt đẹp thì các trang lẻ sẽ để lề trái là 3cm, các trang chẵn thì ngược lại, lề phải đặt 3cm. Để có thể làm vậy, trong thẻ Margins, trường Pages, mục Multiple Pages đặt mặc định là Normal, chỉ cần chọn Mirror Margins sẽ giúp mày làm được cái trên.</p>

        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm">Bước 3: Đặt thứ tự cho đề mục</h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Giáo viên hướng dẫn đề án của tao yêu cầu là đề mục số thứ tự nhỏ nhất là cấp 4, các đề mục sau đó chuyển sang chữ cái, không quá 5 cấp đề mục. Mình sẽ hướng dẫn làm đúng như vậy. Mọi người xem video để coi chị tiết. Trước tiên mình sẽ giải thích một số nội dung trong hộp thoại này</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15106131263" title="6 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7508/15106131263_9fba68dc6d_o.png" width="550" height="471" alt="6"></a>
		<br>

        <ul>
            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm">Enter formatting for number: Cách số thứ tự hiển thị, chỉ cần gõ thêm tên của thứ tự ví dụ như Chương, Bài học… lên trước số. Phần font bên cạnh không quan trọng </p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> Number style for this level: Kêu thứ tứ, trong đó có số la mã, số thường, chữ cái </p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> Include level number from: Với cái đề mục cấp thấp hơn, có thể chọn hiển thị cấp trước đó tại đây Ví dụ như 1.1 hay 1.a</p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> Positon: vị trí số thứ tự. Phần này có thể để mặc định cũng ok rồi :D</p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm">Link level to style: Gắn số thứ tự với Styles, dĩ nhiên level 1 tương ứng với heading 1 và các level tiếp theo tương tự. </p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> Start at: bắt đầu tại số thứ mấy, hiện có thể không quan trọng. </p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm">Restart list after: Để mặc định là được.</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm">Legal style numbering: Đại loại nó sẽ chuyển số la mã thành số thường. VD: Heading 1 là Chương IV (số La Mã), khi đánh heading 2 với số thường và có kèm heading 1 thì nó sẽ thành IV.1 Khi chọn ô này, nó sẽ tự chuyển về 4.1</p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> Follow number with: Ký tự theo sau sô VD: Chương IV <span lang="en-US" style= "font-style: italic">(ký tự tab – thường là 4 dấu cách)</span> Tài chính doanh nghiệp </p>
            </li>
        </ul>

        <br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/50cnEzvtqpU?rel=0" frameborder="0" allowfullscreen></iframe>
        <br>

        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm">Bước 4: Định dạng văn bản</h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Chúng ta sẽ định dạng bằng cách sửa Styles. Cô giáo tao yêu cầu font chữ Times New Roman, cỡ chữ 13, giãn dòng 1.3.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Sửa Styles như sau: Ấn phải chuột vào Style cần sửa. chọn
        Modify. Các mục cần chọn nằm trong Format ở bên trái, cuối cùng của cửa sổ</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15701799686" title="7 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7577/15701799686_8e7fffabc2_o.png" width="537" height="214" alt="7"></a>
		<br>

		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15540336727" title="8 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3948/15540336727_f54cd5cee3_o.png" width="538" height="538" alt="8"></a>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Chúng ta sẽ chỉ sử dụng Font, Paragraph, Border thôi. Mấy
        cái này mấy đứa biết tdung rồi, tao sẽ liệt danh sách các thiết lập cần đặt để chúng mày làm theo. Tao thường đặt như thế này thôi nhé)</p>
		<br><br>
        <table border="1" class="tftable">
            <tr valign="top"> <th width="80px">Style</th>
				<th width="25%">Format</th> <th>Thiết lập</th> <th>Giá trị</th> 
            </tr>

            <tr> <td style="border-top:none; border-bottom:none;">Normal</td> <td style="border-top:none; border-bottom:none;">Font</td> <td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td> <td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td> <td>Regular</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td> <td style="border-top:none; border-bottom:none;"></td> <td>Size</td> <td>13</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Justified</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>First line</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>1.25 cm</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>0pt</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>8pt</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
            </tr>

            <tr valign="top"> <td style="border-bottom:none;">Heading 1</td> <td style="border-bottom:none;">Font</td>
				<td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td>
				<td>Bold</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Size</td>
				<td>13</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font color</td>
				<td>Đen nhé ;)</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Effects</td>
				<td>Small caps (Tất cả các chữ viết hoa nhưng những chữ cái thường có cỡ nhỏ hơn một chút)</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td> <td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Left</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>Hanging</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>0.63 cm</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>18 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>8 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td> <td>Chú ý</td> <td colspan="2">Tại bước này có thể mày nhận ra là chữ Chương trong phần Heading sẽ không được định dang như trên, phần ‘hương’ vẫn là chữ cái thường. Để sửa lại, ấn chuột phải chọn ‘Chương’ chọn Adjust List Indents, trong phần Enter For Formating sửa lại thành CHƯƠNG là được :D</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td> <td>Border (tạo gạch ngang dưới tiêu đề)</td>
				<td>Color</td>
				<td>Nên chọn màu xám nhạt thôi :D màu ngay dưới màu đen là ok</td>
            </tr>

            <tr valign="top"> <td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Preview</td>
				<td>Click vào khung dưới</td>
            </tr>

            <tr valign="top"> <td style="border-bottom:none;">Heading 2</td> <td style="border-bottom:none;">Font</td>
				<td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td>
				<td>Bold</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Size</td>
				<td>13</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font color</td>
				<td>Đen</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Effects</td>
				<td>Small caps</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>

               <td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Left</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>Hanging</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>1.02 cm</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>18 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>0 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
            </tr>

            <tr valign="top"> <td style="border-bottom:none;">Heading 3</td> <td style="border-bottom:none;">Font</td>
				<td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td>
				<td>Bold</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Size</td>
				<td>13</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font color</td>
				<td>Đen</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Effects</td>
				<td>Không chọn gì cả</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td> <td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Left</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>Hanging</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>1.27 cm</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>10 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>0 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
			</tr>

            <tr valign="top">
	            <td style="border-bottom:none;">Heading 4</td>
	            <td style="border-bottom:none;">Font</td>
				<td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td>
				<td>Bold Italic</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Size</td>
				<td>13</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font color</td>
				<td>Đen</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Effects</td>
				<td>Không chọn gì cả</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td> <td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Left</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>Hanging</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>1.52 cm</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>10 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>0 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
            </tr>

            <tr valign="top"> <td style="border-bottom:none;">Heading 5</td> <td style="border-bottom:none;">Font</td>
				<td style="border-bottom:none;">Font</td>
				<td>Times New Roman</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font style</td>
				<td>Italic</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Size</td>
				<td>13</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Font color</td>
				<td>Xám đen</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Effects</td>
				<td>Không chọn gì cả</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>

               <td style="border-bottom:none;">Paragraph</td>
				<td>Alignment</td>
				<td>Left</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Left</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Indentation Right</td>
				<td>0</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Special</td>
				<td>Hanging</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>By</td>
				<td>0.63 cm</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing Before</td>
				<td>10 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Spacing After</td>
				<td>0 pt</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>Line spacing</td>
				<td>Multiple</td>
            </tr>

            <tr valign="top">
            	<td style="border-top:none; border-bottom:none;"></td>
				<td style="border-top:none; border-bottom:none;"></td>
				<td>At</td>
				<td>1.3</td>
            </tr>
        </table>
		<br>
		<br>
        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm">Bước 5: Chỉnh sửa</h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Bước này sẽ làm một đống thứ sau cùng lúc. Kéo từ đầu văn bản xuống :v đừng kéo ngược từ cuối lên nhé. Thấy cái gì cần làm thì làm :v hơi khó miêu tả nhưng cứ đọc chắc hiểu</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Chỉnh in đạm, in nghiêng</h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Đối với các phần cần làm nổi lên thì in đậm in nghiêng, chú ý là đừng làm nó nổi quá so với tiêu đề và đừng kết hợp nhiều quá các hiệu ứng. Phải để cho từ ngữ, cách phối cảnh phải hòa hợp với thiên nhiên sông nước</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Đặt Bullet</h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Tức là trong các phần có liệt kê, nên đặt dấu gạch ngang hoặc chấm tròn cho các yếu tố bên trong. Không cần chỉnh nhiều, chỉ cần chọn bullet trong mục Paragraph là xong.</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Ngắt đoạn</h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Ví dụ như một đoạn có 4 dòng thì một hoặc hai dòng ở trang trước, ba/hai dòng còn lại ở trang sau. Tuyệt đối không được ấn enter trước đoạn đó, cách tốt nhất là bô đen cả đoạn, ấn chuột phải chọn Paragraph, chọn thẻ Line and  Page Break, chọn Keep with Text, cả đoạn đó sẽ theo nhau chạy xuống trang dưới.</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Đặt caption cho ảnh, bảng biểu </h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Chọn ảnh hoặc bôi đen cả bảng, ấn chuột phải chọn Insert Caption </p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15106130963" title="9 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3953/15106130963_19a7862880_o.png" width="660" height="571" alt="9"></a>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Trong hộp thoại hiện ra, chọn New Lable, hình thì ghii là Hình,  bảng ghi là Bảng :v. Chỉ cần làm lần đầu, những lần sau đó chọn trong  mục Label. Phần positon chọn vị trí của caption, nên chọn Below  selected item (bên dưới) Nhớ ghi tên của ảnh hay bảng vào phần Caption,  có thể nó sẽ ko hiện lên (đừng hỏi tao tại sao) nhưng khi ấn OK nó vẫn  sẽ ra.</p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15727069612" title="10 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3948/15727069612_5d21728a84_o.png" width="591" height="236" alt="10"></a>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Trong đây, phần Nubering có thể chọn cách đánh số khác. Include chaper number là kèm theo số thứ tự của chương. Chọn xong ấn OK. Sau đó nhớ chèn thên nguồn bên dưới, căn lề bên phải và để cỡ nhỏ hơn 1 đến 2 cỡ là vừa.</p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Chỉnh sửa bảng</h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Trong bảng có thể để cỡ chữ nhỏ hơn một cỡ. Căn lề bên trái, tuy nhiên số liệu nên căn lề bên phải, đừng căn lề giữa. Tiêu đề để chữ đậm (Bold) là ok.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Nếu có ý định in màu, có thể đặt con trỏ vào thẻ Table Tool -&gt; Design. Phần Table Styles có rất nhiều kểu đẹp có thể chọn. Nhưng đừng chọn kiểu nào quác cầu kỳ và nhiều màu nhé. Thường thì chỉ cần như thế này thì in đen trắng cũng đẹp :D</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Để căn bảng ra giữa, đặt con trỏ vào bảng, xuất hiện phần màu hồng, ấn vào đấy rồi chọn căn giữa là nó sẽ tự nhảy ra :v Đối với ảnh thì chỉ cần chọn và chọn giữa.</span></p>

        <a href="https://www.flickr.com/photos/127460723@N07/15727069552" title="11 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3949/15727069552_354811fd6f_o.png" width="421" height="162" alt="11"></a>
        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm">Sửa lỗi copy từ trên mạng</h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Một số lỗi như hai dấu cách, hai lần xuống dòng. Ấn Ctrl + H.</p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Hai dấu cách: Trong ô Find What gõ “ “ (hai dấu cách) Ô Replace “ “ (một dấu cách) ấn Replace All</p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Hai lần xuống dòng: Find What ^p^p (Shift + 6 ra dấu mũ, ^p tương đương một lần xuống dòng ^p^p là hai lần xuống dòng) Replace gõ ^p rồi ấn Replace All</p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang=
        "en-US">Với các ký tự khác thì tương tự.</span></p>

        <p class="western" style="margin-bottom: 0cm"><br></p>

        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm">Bước 6: Đặt header và footer</h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Thẻ INSERT, trong trường Header &amp; Footer chọn Header chọn Edit Header</span></p>
		<br>
        <a href="https://www.flickr.com/photos/127460723@N07/15540336347" title="12 by An Teo, on Flickr"><img src="https://farm8.staticflickr.com/7562/15540336347_b90d74f106_o.png" width="505" height="592" alt="12"></a>
		<br>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">Trong phần này thường để tên văn bản và tên người viết. Làm các bước như sau</p>
		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/gi5d0Urznjs?rel=0" frameborder="0" allowfullscreen></iframe>
		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/x6owfveKfKU?rel=0" frameborder="0" allowfullscreen></iframe>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang=
        "en-US">Chú ý, tuyệt đối không kẻ line để phân phần header hay footer mà phải kẻ border như trên.</span></p>

        <h1 class="western" lang="en-GB" style="margin-left: 0.64cm"> <span lang="en-US">Bước 7: Chỉ sửa trang theo chiều ngang</span></h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Tạo Section Break: đặt con trỏ chuột vào cuối dòng của dòng cuối của trang trước. Vào thẻ PAGE LAYOUT, trong trường Page Setup chọn Breaks, chọn Next Page. Chọn trang cuối mà được đặt ngang, làm tương tự như trên. Sau đó thay đổi chiều của trang như bình thường</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Nhân tiện, đây cũng là cách để thay đổi số thứ tự của trang. Ví dụ trang 1-10 viết trong word, tuy nhiên trang 11-12 làm trong excel, trang 13 đến cuối lại làm trong word. Vậy để trang 11 thành trang 13 thì cũng làm như thế. Xem video để coi chi tiết.</span></p>
		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/Z9RqYjKYcpg?rel=0" frameborder="0" allowfullscreen></iframe>
		<br>
        <h1 class="western" lang="en-GB" style="margin-left: 0.64cm"> <span lang="en-US">Bước 8: Tạo mục lục</span></h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Trước tiên bọn mày tạo một Section Break ở đầu văn bản (như bước 7). Đặt con trỏ vào trang đầu tiên, chọn thẻ REFERENCES chọn Table of Contents, chọn Custom Table of Contents. Trong đây, phần Format tao thường chọn Formal, Show level thường chọn 3 – 4 thôi.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Tương tự với việc chén mục lục bảng biểu, chọn thẻ REFERENCES chọn Insert Table ò Figures trong trường Caption, format chọn Formal, Caption label chọn Hình hoặc bảng tùy đang làm mục lục gì :v</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Thêm nữa là nên để số trang của Mục lục là số La Mã, để đánh dấu nó khác phần nội dung :D</span></p>
		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/3Ebi0ZxqCyE?rel=0" frameborder="0" allowfullscreen></iframe>
		<br>
        <h1 class="western h1title" lang="en-GB" style="margin-left: 0.64cm"> <span lang="en-US">Một số tips khác</span></h1>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm"> <span lang="en-US">Vé hình</span></h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang="en-US">Chọn thẻ INSERT chọn Shaps, chọn New Drawing Canvas. Nó sẽ vẽ ra một ô vuông không màu, không viền. Chúng mày vẽ mọi thứ và hết đây. Làm thế khi bị xuống dòng thì cả canvas sẽ chạy theo. Không gặp trường hợp cả một đống hình cùng nhau nhưng cái thì chạy theo chữ, cái thì không. Tức là cả đống hình đó nó sẽ bị cố định lại cùng nhau trong ô vuông đó.</span></p>

        <a href="https://www.flickr.com/photos/127460723@N07/15105565674" title="13 by An Teo, on Flickr"><img src="https://farm4.staticflickr.com/3951/15105565674_b17f748926_o.png" width="1360" height="768" alt="13"></a>

        <p class="western" style="margin-bottom: 0cm"><br></p>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm"> <span lang="en-US">Một số quy tắc gõ văn bản</span></h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Tao không chắc đây là chuẩn, nhưng mọi người thương viết như thế.</span></p>

        <ul>
            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Các dấu câu nằm sát chữ cái trước đó và có một dấu cách sau dấu câu vd “Họ và tên: An Teo”, không viết</span> <span style= "text-decoration: line-through"><span lang="en-US">“Họ và tên : Đỗ Trọng An”</span></span> <span lang="en-US">(trước và sau dấu hai chấm đều có dấu cách)</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"><span lang="en-US">:v chưa nghĩ ra them</span></p>
            </li>
        </ul>

        <h2 class="western" lang="en-GB" style="margin-left: 1.02cm"><span lang="en-US">Đi in</span></h2>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Trước khi đi in, nên chuyển file qua định dạng PDF để tránh trường hợp quán in không có word 2007 trở lên hay một số lỗi dàn trang hay gì đó mà khó có thể kiểm soát. Đây là cách an toàn nhất để đi in và vì PDF không thể sửa ngay như Word nên nhớ kiểm tra trước rồi mới đi in nhé</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Chỉ cần ấn F12, phần Save as Type chọn PDF là được.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Để tránh trường hợp phải đăng nhập tài khoản vào máy ở quán in, có thể bị mất tài khoản. Tao dung dropbox, share file đó rồi copy link qua goo.gl để rút gọn link. Ghi link đó rồi mang ra quán in để tải về.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Các quán in trường mình rất hay lấy bài của mình để mang bán :v vào Tuấn Hùng thì biết, nếu muốn bảo vệ quyền tác giả nhớ yêu cầu xóa file đi nhé.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Bên BK in rẻ hơn và có quán in màu laser rất đẹp nhé :P</span></p>

        <h1 class="western" lang="en-GB" style="margin-left: 0.64cm"> <span lang="en-US">Làm bìa</span></h1>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Bìa thì thường có:</span></p>

        <ul>
            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Tên trường</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Tên khoa</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Kiểu văn bản (Đề án, Tiểu luận, Bài tập,….)</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Tên văn bản</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Giáo viên</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Họ và tên/ Thành viên nhóm(nếu không quá nhiều)</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Lớp</span></p>
            </li>

            <li> <p lang="en-GB" style="text-indent: 0cm; margin-bottom: 0cm"> <span lang="en-US">Năm, Hà Nội</span></p>
            </li>
        </ul>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Thường thì mọi người thương có bìa như sau, nên luôn có một file bìa sẵn ở trong máy để dung, khi đi in thì nhớ lưu thành file PDF nhé. Nếu muôn đặt bìa vào đầu văn bản thì lại làm them một Section Breaks ở đâu văn bản là được.</span></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang= "en-US">Trong khi làm bìa, tuyệt đối không xuống dòng nhiều lần, chỉ cần xuống dòng một lần giữa các phần muốn cách nhau ra và thay đổi cỡ chữ của dòng đó bằng phím tắt Ctrl +Shift + . (tăng 2 cỡ) hoặc Ctrl + ] (tăng 1 cỡ) ; Ctrl +Shift + , (giảm 2 cỡ) hoặc Ctrl + [ (giảm 1 cỡ)</span></p>
		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/_U9hZ9YWFrg?rel=0" frameborder="0" allowfullscreen></iframe>
		<br>
        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><span lang=
        "en-US">Phần này sẽ hướng dẫn làm bìa giống thế này</span></p>
		<br>
		 <a href="http://parallel.vub.ac.be/education/projects/thesis_cover.jpg"><img src="http://parallel.vub.ac.be/education/projects/thesis_cover.jpg"></a>
		<br>

		<br>
        <iframe width="853" height="480" src="//www.youtube.com/embed/BFcyEOZfMYI?rel=0" frameborder="0" allowfullscreen></iframe>

        <p class="western" style="margin-bottom: 0cm"><br></p>

        <p class="western" style="text-indent: 0cm; margin-bottom: 0cm">
        <br></p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm"><br></p>
        <br>
        <br>
  
        <a href="https://www.facebook.com/cloudfflies/posts/10202472478006373" style="font-size:4em; text-align:center;">Cần hỏi gì thì nhào vô đây</a>
    </div>
	
    <div class="bottom">
        <p lang="en-GB" style=
        "margin-bottom: 0cm; margin-top: 0.63cm; text-align: center"><br></p>

        <p lang="en-GB" style="margin-bottom: 0cm"><br></p>
    </div>
</body>
</html>