<html>
<body>
<form action="/updateExam" enctype="multipart/form-data" method="post">
          <div><input type="file" name="ExamSchedule" accept=" application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
          		<p>StartDate</p><input type="text" name="startdate" data-required="required"/>
          		<p>ExpiredDate</p><input type="text" name="expireddate" data-required="required"/>
          
          
          <input type="submit" value="Submit"></form>
</div>
          </form>

         

        </body>
      </html>