
#arrowMainMenu {
    position: absolute;
	
    top:8px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 16px 15px 15px;
	border-color: transparent #5F6239 transparent transparent;
}
.floater{
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -5%;
}
.floaterTwoLine{
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -15%;
}
.menuTitle {
    clear: both;
    height: 100px;
}

#mainMenu{
	padding-right:0px;
    position: fixed;
    height:100%;
    width:200px;
    right:0px;
    z-index:50;
}
#mainMenu li {
    color: #FFF;
    text-align: center;
	vertical-align:middle;
    cursor: pointer;
    margin:0px;
    list-style-type: none;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 1.1em;
    font-style:normal;
    font-weight: 700;
}
#mainMenu li a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #FFF;
}
#mainMenu .fullHeight {
	clear: both;
	height:16%;
}
#mainMenu .demiHeight {
	clear: both;
	height:8%;
}
#nav0{
	clear: both;
	background-color:#39333b;
}
#nav0 img{
	max-width:100px; 
}
#nav1{
	clear: both;
	background-color:#823934;
}
#nav2{
	clear: both;
	background-color:#797c48;
}
#nav3{
	clear: both;
	background-color:#b6a758;
}
#nav4{
	clear: both;
	background-color:#866844;
}
#nav5{
	clear: both;
	background-color:#412028;
}
#nav6{
	clear: both;
	background-color:#597781;
}