
body{
	font-family:"Arial" !important;
	font-size:13px;
}
P.western{
	font-family:"Arial" !important;
	font-size:13px;
	line-height: 1.4em;
}
H2.western{
	font-family:"Arial" !important;
	font-size:1.5em !important;
}
.h1title{
	font-family:"Arial" !important;
	font-size:1.5em !important;
}
.content{
	width:70%;
	display: inline-block;
	margin-left:15%;
	margin-right:15%;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100% !important;
	height:auto;
}
iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100% !important;
}
.tftable {
    font-size:12px;
    color:#333;
    width:100%;
    border-width:1px;
    border-color:#729ea5;
    border-collapse:collapse
}

.tftable th {
    font-size:12px;
    background-color:#acc8cc;
    border-width:1px;
    padding:8px;
    border-style:solid;
    border-color:#729ea5;
    text-align:left
}

.tftable tr {
    background-color:#d4e3e5
}

.tftable td {
    font-size:12px;
    border-width:1px;
    padding:8px;
    border-style:solid;
    border-color:#729ea5
}

.tftable tr:hover {
    background-color:#fff
}